# uncomment the lines which you need

# GRF_NAME = 2cc Train Set 
# GRF_VERSION = 1.0.1 (pre-release)
# GRF_FILENAME = 2cc_trainset

# here goes the directory where to copy the compiled grf
# INSTALLDIR =

# Flags for nforenum and grfcodec
# NFO_FLAGS = -w 141
# GRFCODEC_FLAGS = -e -p 2